<div class="row" style="margin-bottom: 0;">
    <div class="col s12">
        <div class="card-panel blue darken-3 white-text" style="margin-bottom: 7.5px;">
            <h1 style="margin:0; font-size:24px; font-weight: bold;">My Favorite Teams</h1>
        </div>
    </div>
</div>
<div id="favoriteTeamsContainer" class="row">
    <div class="col s12 center-align" style="padding:1rem">
        <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>